@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .container {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) brightness(120%)
    contrast(90%) grayscale(20%) hue-rotate(20deg) invert(5%) opacity(60%)
    saturate(140%) sepia(30%);
  backdrop-filter: var(--tw-backdrop-blur) brightness(150%) contrast(80%)
    grayscale(10%) hue-rotate(20deg) invert(10%) opacity(60%) saturate(40%)
    sepia(70%);
} */
